<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>

    <link rel="stylesheet" type="text/css" href="assets/css/default.css">
    <script src="assets/js/default.js"></script>

    <style>
        form div,
        form input,
        form button {
            padding: 5px;
        }
        
        #form {
            margin-top: 20%;
        }
    </style>

</head>

<body onload=onLoad();>

    <div id="form">
        <form class="center" id="loginForm" action="/login" method="POST" enctype="application/json">
            <div>
                <label for="email">Email: </label>
                <input required id="email" name="email" placeholder="johndoe@outlook.com">
                <br />
            </div>
            <div>
                <label for="password">Password: </label>
                <input required type="password" id="password" name="password">
                <div id="showHidePassword" title="Show password" style="justify-content: center; align-items: center; width: 15px; height: 15px; display: inline; margin-top: 15px;">
                    <svg id="hide" style="width: 15px; height: 15px; cursor: pointer; display: inline-block; margin: auto;" onclick="showHidePassword();" x="0px" y="0px" viewBox="0 0 20 20">
                        <path d="M.2 10a11 11 0 0 1 19.6 0A11 11 0 0 1 .2 10zm9.8 4a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0-2a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"/>
                    </svg>
                    <svg id="show" style="width: 15px; height: 15px; cursor: pointer; display: none; margin: auto;" onclick="showHidePassword();" x="0px" y="0px" viewBox="0 0 20 20">
                        <path d="M12.81 4.36l-1.77 1.78a4 4 0 0 0-4.9 4.9l-2.76 2.75C2.06 12.79.96 11.49.2 10a11 11 0 0 1 12.6-5.64zm3.8 1.85c1.33 1 2.43 2.3 3.2 3.79a11 11 0 0 1-12.62 5.64l1.77-1.78a4 4 0 0 0 4.9-4.9l2.76-2.75zm-.25-3.99l1.42 1.42L3.64 17.78l-1.42-1.42L16.36 2.22z"/>
                    </svg>
                </div>
                <br />
            </div>
            <div class="center">
                <button type="submit">Log in</button>
            </div>
        </form>
        <div class="center" style="min-width: 500px;">
            <span>Don't have an account? Create one <a href="../sessions/new">here</a></span>
        </div>
    </div>
</body>


<script>
    function onLoad() {
        isLoggedIn(function(res) {
            if (res) {
                window.location.href = window.location.href.split("/").pop().join("/");
            } else {
                const form = document.getElementById("loginForm");
                if (form) form.addEventListener("submit", handleSubmit);
            }
        });
    }
</script>

</html>